submission.kelp.ml {
        gzip

        root /home/webserv/nfq

        fastcgi / /run/php/php7.2-fpm.sock {
                ext .php
                split .php
                index index.php
        }
}
